 <form role="form" accept-charset="UTF-8" action="/users" class="sign_up" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="W0u6CgL+sA/n/Zecikl67zLqkIPePQz01Vg0u3bi2nc=" /></div>

  <div class="field2 form-group">
  <label for="user_first_name"><strong>Username</strong></label><br>
  <div class="col-sm-2">
  <input id="username" name="user[username]" type="text" class="form-control"/></div>
  </div>
  <br><br>

<div class="field2 form-group"><label for="user_email"><strong>Email</strong></label><br>
<div class="col-sm-2">
  <input id="user_email" name="user[email]" type="email" value="" class="form-control"/></div>
</div>
<br><br>
<div class="field2 form-group"><label for="user_password"><strong>Password</strong> <em>(6 characters minimum)</em></label><br>
<div class="col-sm-2">
  <input id="user_password" name="user[password]" type="password" class="form-control"/></div>
  </div>
<br><br>

<div class="field2 form-group"><label for="user_password_confirmation"><strong>Password confirmation</strong></label><br>
<div class="col-sm-2">
  <input id="user_password_confirmation" name="user[password_confirmation]" type="password" class="form-control"/>
 </div> 
</div>
<br><br>

<div class="login_submit">
  <input class="btn login" name="commit" type="submit" value="Sign up"  data-toggle="modal" 
   data-target="#quiz"/>

   <%= render "devise/quiz" %>
  </div>
</form>  

