<div class="transbox">
  <h1>Welcome, <%= @current_user.username %></h1>

  <!-- PROFILE PICTURE -->

  <!-- quiz results / preferences based on quiz -->

  <!-- SUGGESIONS PER REVIEW -->
  <h2>Based on your reviews, here are some suggestions:</h2>
  <ul>
    <% @suggestions.each do |suggestion| %>
      <li> <%= suggestion.name %> </li>
    <% end %>
  </ul>

  <!-- beer suggessions based on others who share the same preferences (from quiz) -->

</div>
