<div class="transbox">
  <h1 class="welcome">Drink up, <%= @current_user.username %>.</h1>

  <!-- PROFILE PICTURE -->

  <!-- quiz results / preferences based on quiz -->





  <!-- SEPARATE NEW AND OLD HERE -->



