<div class="transbox">
  <h1>Welcome, <%= @current_user.username %></h1>

  <!-- PROFILE PICTURE -->

  <!-- quiz results / preferences based on quiz -->

  <!-- SUGGESIONS PER REVIEW -->
  <p>Based on your reviews, here are some suggestions:</p>

      <% @suggestions.each do |suggestion| %>
      <a href=<%= suggestion.image %>><%= suggestion.name %><div><img src=<%= suggestion.image %>></div></a><br>
      <% end %>


  <!-- beer suggessions based on others who share the same preferences (from quiz) -->

</div>
