  	<%= form_tag beers_path, :method => 'get', :class => "search-bar-form" do %>
      <p>
        <%= text_field_tag :search, params[:search], :class => "beer-serach-bar" %>
        <%= submit_tag "Search", name: nil, :class => "beer-serach-bar-button" %>
      </p>
    <% end %>