body {
    background: asset-url("beerglassleft.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    /*http://mdbootstrap.com/img/Photos/Others/img%20(42).jpg*/
}

.hm-gradient .full-bg-img {
    background: -webkit-linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(29, 236, 197, 0.4)), to(rgba(96, 0, 136, 0.4)));
    background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.4), rgba(96, 0, 136, 0.4) 100%);
}

.card {
    background-color: rgba(229, 228, 255, 0.2);
    font-family: "Zilla Slab";
    font-size: 1.5em;
    border-radius: 15px;
}

 .md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.md-form label {
    /*color: #ffffff;*/
    font-size: 0.8em;
}

.md-form {
    width: 50%;
    margin: auto;
    padding-bottom: 10px;
}

h6 {
    line-height: 1.7;
}

.navbar-link, .nav-link {
    color: #742727;
    /*font-family: Copse;*/
    font-family: "Pacifico";
    /*font-family: "Helvetica Neue";*/
    /*font-weight: bold;*/
    font-size: 1.25em;
    color: black !important;
    /*background-color: black;*/
}

.navbar-link:hover {
    color: #742727;
}

.navbar-brand {
    font-family: "Pacifico", cursive;
    /*font-family: Copse;*/
    font-weight: lighter;
    font-size:  200% !important;
    /*color: #742727;*/
    color: black !important;
}

.navbar-brand:hover {
    color: #742727;
}

#quiz-here{
    /*background-color: red;*/
    float: right;
    left: 500px;
    position: relative;
    bottom: 500px;

}

.beer-search-bar {
    padding: 1px 4px;
    padding-top: 15px;
    font-size: 14px;
    font-family: "Zilla Slab";
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid gray;
    border-radius: 4px;
}

.beer-search-bar-button, .drink-btn, .login-button {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 2.5em;
    padding: 0 1em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid black;
    font-family: "Zilla Slab";
    font-weight: 400;
    font-size: 0.95em;

}

.beer-search-bar-button:hover {
    background-color: #e8e8e8;
}

.drink-btn:hover {
    background-color: #e8e8e8;
}

.login-button:hover {
    background-color: #e8e8e8;
}

.navbar, .navbar-default{
    background-color: rgba(102, 38, 8, 0)  !important;
    border-color: rgba(102, 38, 8, 0) !important;
    padding-top: 10px;
}

.icon-bar {
    color: black !important;
}

a > .regis-link {
    color: black;
    text-decoration: underline;
}

a > .regis-link:hover {
    color: #742727;
}

.loggy {
    color:black;
}

#myModal {
    background-color: #e8e8e8;
    width: 36%;
    height: 40%;
    margin: auto;
    outline: 3px solid black;
}

#myModal h3 {
    font-family: "Pacifico", cursive;
    font-size: 400% !important;
}

#myModal p {
    font-family: "Zilla Slab";
    font-size: 200% !important;
}

#myModal a {
    font-family: "Pacifico", cursive;
    font-size: 200% !important;
}



