a > div {
  display: none;
}

a:hover > div {
  display: block;
}

/*.transbox {
  background-color: white;
  opacity: 0.6;
  filter: alpha(opacity=60);  for IE* and earlier
  border-radius: 10px;
  padding: 5% 5% 10% 5%;
  width: 70%;
  margin: auto;
}*/

div.error_messages > ul > li {
  list-style-type: none;
}


.profile-display {
    /*padding-top: 50px;*/
    margin: auto;
    position: relative;
    background-color: rgba(229, 228, 255, 0.5);
    /*max-width: 30%;*/
    /*padding: 30px;*/
    border: 1px solid #742727;
    border-radius: 15px;
    padding-bottom: 10px;
}

.transbox {
  margin: auto;
}

/*.left{
  position: relative;
  left: 50px;
}

.middle {
  position: relative;
  left: 150px;
}
.right {
  position: relative;
  left: 200px;
}*/

.profile-info {
  padding-top: 50px;
  margin: auto;
  text-align: center;
}

.shared-links{
  position:absolute;
  top:0;
  right:0;
  max-width: 20%;
}


.results {
  font-family: "Pacifico", cursive;
  font-weight: lighter;
  font-size: 20px;
  /*font-size:  200% !important;*/
  color: black;
}

.prefs, .welcome, .reviews, .suggestions {
  font-family: "Zilla Slab";
}


.reviews {
  margin-top: 15px;
  padding-top: 5px;
}

